
:root {
  --ts-scrollbar-width: 10px;
  --ts-scrollbar-background-color: rgba(0, 0, 0, 0.05);
  --ts-scrollbar-transition-time: 0.25s;
  --ts-scrollbar-thumb-background-right: 2px;
  --ts-scrollbar-thumb-background-width: 6px;
  --ts-scrollbar-thumb-background-min-height: 20px;
  --ts-scrollbar-thumb-background-border-radius: 3px;
  --ts-scrollbar-thumb-background-color: rgba(0, 0, 0, 0.2);
  --ts-scrollbar-thumb-background-hover: rgba(0, 0, 0, 0.3);
}

.ts-scroll-content {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  transform: translateZ(0);
  pointer-events: all;
  user-select: auto;
}

.ts-scroll-content.dragging {
  pointer-events: none;
  user-select: none;
}

.ts-scroller {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.ts-scroller::-webkit-scrollbar,
.ts-scroller::-webkit-scrollbar-thumb,
.ts-scroller::-webkit-scrollbar-button,
.ts-scroller::-webkit-scrollbar-track,
.ts-scroller::-webkit-scrollbar-track-piece,
.ts-scroller::-webkit-scrollbar-corner,
.ts-scroller::-webkit-resizer {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
}

.ts-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: var(--ts-scrollbar-width);
  background-color: var(--ts-scrollbar-background-color);
  opacity: 0;
  transition: opacity var(--ts-scrollbar-transition-time) ease var(--ts-scrollbar-transition-time), 
              background-color var(--ts-scrollbar-transition-time) ease;
}

.ts-thumb {
  position: absolute;
  top: 0;
  right: var(--ts-scrollbar-thumb-background-right);
  width: var(--ts-scrollbar-thumb-background-width);
  min-height: var(--ts-scrollbar-thumb-background-min-height);
  border-radius: var(--ts-scrollbar-thumb-background-border-radius);
  background-color: var(--ts-scrollbar-thumb-background-color);
  transform-origin: top right;
  pointer-events: all;
  transition: background-color var(--ts-scrollbar-transition-time) ease;
  z-index: 9;
}

.ts-scroll-content:hover .ts-scrollbar,
.ts-scroll-content.dragging .ts-scrollbar {
  opacity: 1;
}

.ts-thumb:hover,
.ts-scroll-content.dragging .ts-thumb {
  background-color: var(--ts-scrollbar-thumb-background-hover);
}
